h1{
	font-size:28px;
	font-family:verdana;
}
table,th,td{
	border: 1px solid black;
	border-collapse: collapse
}
th,td{
	text-align:center;
}
/*#login{
	display: flex;
	flex-direction: column;
	justify-content: right;
	
}*/